page-product-detail {
    ion-label {
        color: blue;
        font-size: 11px;
        margin-bottom: 0px !important;
    }
    ion-card-content {
        padding-top: 0px !important;
        font-size: 15px !important;
    }
}